* {
    margin: 0;
    padding: 0;
}
body{
    padding: 60px !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    padding: 0 !important;
}

a{
    text-decoration: none !important;
}
a:hover{
    color: var(--black-color);
}
@font-face {
    font-family: Reckless-Light;
    src: url(../fonts/Reckless-Light.woff);
}

:root {
    --30-size: 22px;
    --36-size: 27.50px;
    --42-size: 34.38px;
    --48-size: 42.97px;
    --60-size: 53.71px;
    --72-size: 67.14px;
    --primary-font: "Neue Haas Unica";
    --rackless: "Reckless-Light";
    --navbar-toggler: #000000;
    --white-color: #fff;
    --black-color: #000000;
    --gray-color: #8a8a8c;
    --border-color: #d4d4d4;
    --body-color: #fff;
    --fill-color: #000;
}
body{
    background-color: var(--body-color) !important;
}

.main-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-navbar svg{
    fill: var(--fill-color);
}

.header-menu-links{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 60px;
    display: none;
    left: 0;
}
.header-menu-links ul{
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    padding: 0px !important;
    margin-top: -11px;
}
.header-menu-links a{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--white-color);
    font-size: var(--72-size);
    text-decoration: none;
}
.header-menu-links a:hover{
    color: var(--white-color);
}
.header-menu-links-contact{
    position: absolute;
    width: 100%;
    bottom: 60px;
}
.header-menu-links-contact h1{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--white-color);
    font-size: var(--36-size);
}
.header-menu-links-socail-media{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--white-color);
    font-size: var(--36-size) !important;
    width: 100%;
    display: block;
}

input#menu {
    display: none;
}

.icon {
    background: transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px 0px;
    width: 24px;
}

label.icon {
    z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    transition: background ease .1s, top ease .1s .1s, transform ease .1s;
    width: 25px;
}

.icon .menu::before {
    background: var(--navbar-toggler);
    top: -6px;
}

.icon .menu::after {
    background: var(--navbar-toggler);
    top: 6px;
}

#menu:checked+.icon .menu {
    background: transparent;
}

#menu:checked+.icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked+.icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked+.icon .menu::before,
#menu:checked+.icon .menu::after {
    top: 0;
    transition: top ease .1s, transform ease .1s .1s;
}

.slider-image {
    width: 100%;
    height: 1200px;
}

.slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides-numbers {
    display: inline;
    position: absolute;
    bottom: 13.5%;
    right: 0px;
    font-family: var(--primary-font);
    font-size: var(--48-size);
    color: var(--black-color);
}

.latest-blog-container {
    padding: 180px 0px !important;
    border-bottom: 1px solid var(--border-color);
}

.footer-section {
    padding: 60px 0px 0px 0px !important;
}

.blog-cover-img {
    height: 540px;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.slider-content-container {
    margin-top: 60px;
}

.slider-content-container h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--48-size);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.slider-content-container p {
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--gray-color);
    font-size: var(--48-size);
    line-height: 1.4;
}

.header-slider-container {
    position: relative;
    padding:180px 0px !important;
    border-bottom: 1px solid var(--border-color);
}
.blog-header-title{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--48-size);
}
.latest-blog-link{
    text-align: right;
}
.mt-60{
    margin-top: 60px !important;
}
.blog-text-header{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-color);
    font-size: var(--36-size);
    display: block;
    margin-top: 60px !important;
}
.blog-text-header:hover{
    color: var(--black-color);
}
.blog-text-para{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--48-size);
    display: block;
    margin-top: 60px !important;
    letter-spacing: -0.02em;
    line-height: 1.2
}
.insight-blog-para{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--48-size);
    display: block;
    margin-top: 60px !important;
    letter-spacing: -0.02em;
    line-height: 1.2
}
.copy-right-section{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--36-size);
}
.footer-links{
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--black-color);
    font-size: var(--36-size);
    text-decoration: none;
    margin-left: 60px;
}
.footer-links:hover{
    color: var(--black-color);
}
/* About Us CSS */
.about-us-forth-section{
    padding: 0px 0px 120px 0px !important;
}
.aboutus-header-container{
    padding: 180px 0px !important;
}

.header-heading{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--48-size);
    text-decoration: none;
    line-height: 1.2;
}
.about-us-video{
    width: 100%;
    height: 1160px;
    position: relative !important;
    overflow: hidden;
}
.about-us-video video{
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img-about-us-section{
    width: 100%;
    height: 1080px;
    object-fit: cover;
}
.about-us-intro{
    padding: 0px 0px 180px 0px !important;
}
.aboutus-third-section-container{
    padding: 0px 0px 180px 0px !important;
}
.aboutus-section-heading{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--36-size);
    text-decoration: none;
}
.about-us-forth-section ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-color);
    font-size: var(--36-size);
}
.color-secondary{
    color: var(--gray-color);
}
.play-btn{
    position: absolute;
    top: 45%;
    left: 45%;
    height: 10%;
    width: 10%;
    text-align: center;
}
.play-btn svg{
    fill: var(--fill-color);
}
.contact-header-container{
    padding: 180px 0px 180px 0px !important;
}
.contact-container{
    padding: 180px 0px 0px 0px;
}
.contact-info{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--36-size);
}
.contact-info span{
    color: var(--gray-color);
}
.contact-social-links{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-color);
    font-size: var(--36-size);
}
.contact-social-links:hover{
    color: var(--gray-color);
}
.font-reckless{
    font-family: var(--rackless);
    font-size: var(--72-size);
}
.header-container{
    padding:180px 0px;
}
.insight-third-container{
    padding:180px 0px;
}
.insight-second-container{
    padding: 0px 0px 180px 0px !important;
}
.fs-36{
    font-size: var(--36-size);
}
.news-latter-heading{
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--48-size);
    font-weight: 300;
    color: var(--black-color);
    letter-spacing: -0.02em;
}
.newslatter-input-sub{
    padding: 20px;
    background-color: #f5f5f7;
    width: 540px;
    border: none;
    font-size: var(--36-size);
    color: rgb(134, 134, 139);
    line-height: 1.68;     
}
.newslatter-submit{
    position: absolute;
    right: 5%;
    border: none;
    background: transparent;
    height: 100%;
}
.subs-container{
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--30-size);
    font-weight: 300;
    color: var(--black-color);
    margin-top: 60px;
}
.subs-container a{
    text-decoration: none;
    color: var(--gray-color);
}
.subs-container a:hover{
    color: var(--black-color);
}

.work-text-header{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--36-size);
    text-decoration: none;
}
.work-text-header:hover{
    color: var(--black-color);

}
.work-text-para{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--gray-color);
    font-size: var(--36-size);
    letter-spacing: -0.02em;
    line-height: 1.2
}
.negative{
    width: 15px;
    height: 3px;
    background: var(--black-color);
}

.project-name, .project-slogan, .project-desc{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--black-color);
    font-size: var(--36-size);
    letter-spacing: -0.02em;
    line-height: 1.2
}
.project-slogan{
    color: var(--gray-color);
    margin-top: 20px !important; 
}
.work-image-col{
    width: 100%;
    height: 1200px;
    object-fit: cover;
}
.blog-link{
    text-decoration: none;
}
.blog_title{
    font-family: var(--rackless);
    font-size: var(--72-size);
}
.blog-info{
    margin-top: 120px;
}
.blog-meta{
    font-family: var(--primary-font);
    font-size: var(--36-size);
    font-weight: 300;
}
.blog-detail{
    font-family: var(--primary-font);
    font-size: var(--36-size);
}
.blog-container{
    background-color: #f5f5f7;
    padding: 65px !important;
    margin-top: 60px !important;
}
.blog-latter-heading{
    text-align: center;
    font-family: var(--primary-font) !important;
    font-size: var(--44-size) !important;
    font-weight: 400 !important;
    color: var(--black-color);
}
.blog-detail-container{
    padding: 180px 0px !important;
}
.back-to-top{
    border: none;
    background: none;
    position: fixed;
    bottom: 105px;
    right: 30px;
}
.back-to-top svg{
    fill: var(--black-color);
}

.open-close{
    border: none;
    background: transparent;
    height: 30px;
    display: none;
}
.blog-icon{
    width: 22px;
    margin-left: 10px;
}
.blog-slide {
    padding-right: 20px;
    padding-left: 20px;
}

.works-container{
    padding: 90px 0px 180px 0px !important;
}

.work-cards{
    margin-top: 90px !important;
}

.work-cards:nth-child(odd){
    padding-right: 30px !important;
}
.work-cards:nth-child(even){
    padding-left: 30px !important;
}
.insight-image-header-1{
    height: 780px;
    width: 100%;
    object-fit: cover;
}
.insight-image-header-2{
    height: 420px;
    width: 100%;
    object-fit: cover;
}
.col-insight-1{
    padding: 0px 30px 0px 0px !important;
}
.col-insight-2{
    padding: 0px 0px 0px 30px !important;
}
.mt-about-60{
    margin-top: 60px !important;
}
.mt-about-skills-60{
    margin-top: 60px !important;
}
#prev-slide{
    display: inline;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    :root {
        --30-size: 18px;
        --36-size: 22.50px;
        --42-size: 28.13px;
        --48-size: 35.16px;
        --60-size: 43.95px;
        --72-size: 54.93px;
    }
    body {
        padding: 40px !important;
    }
    .header-menu-links{
        padding: 40px !important;
    }
    .header-menu-links ul{
        margin-top: 0px;
    }
    .header-menu-links a{
        font-size: var(--72-size);
    }
    .slider-image {
        width: 100%;
        height: 480px;
    }
    .slider-content-container h3{
        font-size: var(--36-size);
    }
    .slider-content-container p{
        font-size: var(--36-size);
    }
    .slides-numbers{
        font-size: var(--36-size);
        bottom: 21.75%;
    }
    .blog-text-header{
        font-size: var(--30-size);

    }
    .blog-text-para{
        font-size: var(--36-size);
        margin-top: 40px !important;
    }
    .blog-cover-img {
        height: 480px;
    }
    .header-menu-links-contact h1{
        font-size: var(--36-size);
    }
    .play-btn {
        top: 46%;
        left: 42%;
        width: 20% !important;
    }
    .mt-m-60{
        margin-top: 60px !important;
    }
    .blog-container{
        padding: 40px !important;
    }
    .newslatter-submit{
        top: 0;
        right: 0%;
    }
    .blog_title{
        font-size: var(--60-size);
    }
    .blog-meta{
        font-size: var(--30-size);
    }
    .blog-latter-heading{
        font-size: var(--42-size) !important;
    }
    .blog-header-title{
        font-size: var(--36-size);
    }
    .blog-slide {
        padding-right: 13px;
        padding-left: 13px;
    }
    #index-slider .slick-list{padding:0 15% 0 0 !important;}
    #insight-slider .slick-list{padding:0 15% 0 0 !important;}
    .about-us-video{
        height: 480px;
    }
    .about-us-video video{
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .mt-about-60{
        margin-top: 0px;
    }
    .open-close{
        display: block;
    }
    .back-to-top {
        border: none;
        background: none;
        position: fixed;
        bottom: 45px;
        right: 40px;
    }
    .footer-section {
        padding: 60px 0px 0px 0px !important;
    }
    .insight-image-header-1{
        height: 480px;
    }
    .col-insight-1 {
        padding: 0px !important;
    }
    .insight-blog-para{
        font-size: var(--60-size);
        margin-top: 40px !important;
    }
    .latest-blog-link {
        text-align: right;
        margin-left: -15px;
        margin-right: -22px;
    }
    .insight-third-container {
        padding: 0px 0px 180px 0px;
    }
    .newslatter-input-sub{
        width: 100%;
    }
    .news-latter-heading{
        font-size: var(--42-size);
    }
    .read-more{
        font-size: var(--36-size);
    }
    #prev-slide{
        display: none !important;
    }
    .mobile-column-subscribe{
        background: #f5f5f7;
        padding: 120px 40px !important;
    }
    .mobile-column-subscribe input{
        background: #fff;
    }
    .contact-info{
        margin-top: 60px !important;
    }
    .contact-container{
        padding: 120px 0px 0px 0px;
    }
    .work-cards:nth-child(odd){
        padding: 0px !important;
    }
    .work-cards:nth-child(even){
        padding: 0px !important;
    }
    .mt-about-skills-60{
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 500px){
    .slider-image {
        width: 100%;
        height: 280px;
    }
    .blog-cover-img {
        height: 240px;
    }
    .slider-content-container p {
        width: 70%;
    }
    .slides-numbers {
        bottom: 30.3%;
    }
}